<div *ngIf="isLoading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner diameter="30"></mat-spinner>
 </div>


<mat-card *ngIf="!isLoading">
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <!-- Content -->
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button matTooltip="Add Product" color="primary" (click)="productDetail({},-1)"><mat-icon>add</mat-icon></button>
        </div>
   

    <!-- Table -->
    <table class="uk-table uk-table-middle uk-table-divide">
        <thead>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Kategori</th>
            <!-- <th>Size</th> -->
            <th>Desc</th>
            <th>#</th>
        </thead>

        <tbody>
            <tr *ngFor="let product of products; let idx = index">
                <td>{{idx+1}}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <!-- <td>{{ product.size }}</td> -->
                <td>{{ product.desc }}</td>
                <td><img src="" alt="Product Image">{{ !product.url ? 'Tidak ada' : 'Ada'  }}</td>              
                <td align="right">
                    <button mat-button color="primary" (click)="uploadImage(product, idx)">Upload</button>
                    <button mat-button color="primary" (click)="productDetail(product, idx)">Edit</button>
                    <button mat-button color="warn" (click)="deleteProduct(product.id, idx)">Hapus</button>
                </td>
            </tr>
        </tbody>

    </table>
    <!-- End Table -->
    </mat-card-content>
    <!-- End Content -->
</mat-card>