mat-label, h3, input, mat-form-field, button, mat-card-content {
    color: #fff;
}

mat-card-content, mat-card {
    background-color: black;
}

mat-card, button, .mat-stroked-button{
    border: solid white 1px;
}

input {
    border-bottom: solid white 1px;
}

h3 {
    color: white;
}