mat-label, h3, input, mat-form-field, button, mat-card-content {
    color: #fff;
}

mat-card-content, mat-card {
    background-color: black;
}

.login, button, .mat-stroked-button{
    border: solid white 1px;
}

input {
    border-bottom: solid white 1px;
}

h3 {
    color: white;
}


.noborder {
    border: 0px;
}
// div {
//     display: inline-block;
// }


#logo {
    height: 100px;
    width: 160px;
    padding: 10px;
}

.example-header {
    background-color: black;
    color: white;
    border-bottom: solid rgba(255, 255, 255, 0.226) 1px;
}
