<mat-toolbar class="example-header" uk-navbar>
  <button mat-button matLine routerLink="/home" class="uk-margin-large-left noborder"><img id="logo" src="https://firebasestorage.googleapis.com/v0/b/personal-project-tekweb.appspot.com/o/logo%2Flogo_wht.png?alt=media&token=f372cf9b-a07f-405a-b6d5-4373037994fb" alt="" color="primary"></button>
  <div class="uk-width-expand"></div>
  <button  mat-button class="example-icon uk-margin-xlarge-right noborder" matLine routerLink="/home/shop">Shop</button>
</mat-toolbar>

<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport uk-card-default"
  style="
    background-color: black;
    background-size: cover;
    background-position: center;
  ">
  <mat-card class="uk-width-1-3@m uk-width-1-3@s login">
    <div class="uk-flex uk-flex-center uk-margin-medium-bottom heading" style="color: #fff;">
      <h3>LOGIN</h3>
    </div>

    <mat-card-content>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your E-mail or Username" [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1" >
        <mat-label>Password</mat-label>
        <input
        [type]=" hide ? 'password' : 'text' " matInput placeholder="Your password" [(ngModel)]="user.password">
          <button mat-icon-button matSuffix (click)=" hide = !hide ">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

      </mat-form-field>
      <div class="uk-flex uk-flex-right ">
        <div class="uk-width-expand">
          <button mat-button routerLink="/register" class="uk-margin-right">Create Account</button>
          <button mat-stroked-button (click)="login()" [disabled]="isLoading">
            {{ !isLoading ? 'Login' : 'Please Wait' }}
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
