<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">
    <mat-card class="uk-width-1-3@m">
        <div class="uk-flex uk-flex-center uk-margin-bottom">
            <h3>Register</h3>
        </div>
    

    <mat-card-content>
        <mat-form-field class="uk-width-1-1">
            <mat-label>Email</mat-label>
            <input matInput placeholder="josen@domain.com" [(ngModel)]="user.email" required>
        </mat-form-field>
       
        <mat-form-field class="uk-width-1-1">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ?'password' : 'text' " placeholder="Your Password" [(ngModel)]="user.password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <div class="uk-flex uk-flex-right">
            <div class="uk-width-expand">
                <button mat-button routerLink="/login">Have an Account</button>
                <button mat-raised-button color="primary" (click)="register(user)" [disabled]="loading">{{ loading ? 'Please Wait' : 'Register' }}</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>

</div>
