.uk-flex, mat-card-content, mat-form-field, mat-label, mat-card{
    background-color: #000;
    color: #fff;
}

mat-card, button, .mat-stroked-button{
    border: solid white 1px;
}

input {
    border-bottom: solid white 1px;
}

h3 {
    color: white;
}
