<mat-toolbar color="primary" class="example-header">
    <button mat-icon-button class="example-icon uk-margin-medium-right" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img id="logo" src="../../../assets/img/logo_wht.png" alt=""></span>

    
    <div class="uk-width-expand"></div>

    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="logout()">
      Logout
    </button>
    
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="{{mode}}" [position]="'start'" opened class="sidenav-left"
        [fixedInViewport]="true" [fixedTopGap] = "65"
        [fixedBottomGap]="0">

        <mat-nav-list class="uk-margin-top">
        <mat-list-item routerLink='/admin/dashboard'>
            <mat-icon matListIcon>dashboard</mat-icon>
            <h3 matLine>Dashboard</h3>
        </mat-list-item>
        <mat-list-item routerLink='/admin/product'>
            <mat-icon matListIcon>local_mall</mat-icon>
            <h3 matLine>Product</h3>
        </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav #sidenav mode={{mode}} [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    </mat-sidenav>

        <!--sidenav content-->
        <mat-sidenav-content style="padding: 20px; background-color: #fff;">
            <!--halaman-halaman tampil disini-->
                <router-outlet></router-outlet>
        </mat-sidenav-content>
            <!--end sidenav content-->
  
  </mat-sidenav-container>