<mat-toolbar color="primary" class="example-header">
    <button mat-icon-button class="example-icon uk-margin-medium-right" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img id="logo" src="https://firebasestorage.googleapis.com/v0/b/personal-project-tekweb.appspot.com/o/logo%2Flogo_wht.png?alt=media&token=f372cf9b-a07f-405a-b6d5-4373037994fb" alt="logo-z"></span>

    
    <div class="uk-width-expand"></div>
    
    <div  (click)="sign()" class="uk-margin-medium-right">
      <button mat-icon-button class="example-icon favorite-icon uk-margin-medium-left">
        <mat-icon>{{ !isUser ? 'person_outline': 'person' }}</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        {{ isUser ? 'Sign out': 'Sign In' }}
      </button>  
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="{{mode}}" [position]="'start'" opened class="sidenav-left"
        [fixedInViewport]="true" [fixedTopGap] = "65"
        [fixedBottomGap]="0">

        <mat-nav-list class="uk-margin-top">
        <mat-list-item routerLink='/admin/dashboard'>
            <mat-icon matListIcon>dashboard</mat-icon>
            <h3 matLine>Dashboard</h3>
        </mat-list-item>
        <mat-list-item routerLink='/admin/product'>
            <mat-icon matListIcon>local_mall</mat-icon>
            <h3 matLine>Product</h3>
        </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav #sidenav mode={{mode}} [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    </mat-sidenav>

        <!--sidenav content-->
        <mat-sidenav-content style="padding: 20px; background-color: #fff;">
            <!--halaman-halaman tampil disini-->
                <router-outlet></router-outlet>
        </mat-sidenav-content>
            <!--end sidenav content-->
  
  </mat-sidenav-container>