<nav>
    <mat-toolbar color="primary" class="example-header" uk-navbar>
        <span class="uk-margin-large-left">My App</span>
        <div class="uk-width-expand"></div>
        <button mat-button class="example-icon uk-margin-large-right" routerLink="/home/shop">Shop</button>
        <button mat-icon-button class="example-icon uk-margin-large-right">
            <mat-icon class="material-icons-outlined">person_outline</mat-icon>
            <span class="uk-margin-small-left" (click)="sign()">{{ isUser ? 'Sign Out' : "Sign In" }}</span>
        </button>            

    </mat-toolbar>
</nav>
<router-outlet></router-outlet>
