
<mat-toolbar color="primary" class="example-header" uk-navbar>
        <span class="uk-margin-large-left"><img id="logo" src="../../../assets/img/logo_wht.png" alt="" color="primary"></span>
        <div class="uk-width-expand"></div>
        <button mat-button class="example-icon uk-margin-large-right" matLine routerLink="/home/shop">Shop</button>
        <button mat-icon-button class="example-icon uk-margin-large-right" (click)="sign()">
            <mat-icon class="material-icons-outlined">{{ !isUser ? 'person_outline': 'person' }}</mat-icon>
            <span class="uk-margin-small-left">{{ isUser ? 'Sign Out' : "Sign In" }}</span>
        </button>            
    </mat-toolbar>

    <div *ngIf="isHome" style="display: inline;">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: slide; autoplay: true" style="color: black; display: inline;">

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://firebasestorage.googleapis.com/v0/b/personal-project-tekweb.appspot.com/o/banner%2Fbanner-women-tshirt-white.jpg?alt=media&token=8f66f01b-8c55-4e53-83f4-cf25cb0aa958" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://firebasestorage.googleapis.com/v0/b/personal-project-tekweb.appspot.com/o/banner%2Fbanner-women-men.jpg?alt=media&token=4867342e-e0ed-4df5-b8e5-f35a827ae675" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://firebasestorage.googleapis.com/v0/b/personal-project-tekweb.appspot.com/o/banner%2Fbanner-3.jpg?alt=media&token=1b5f90f0-062e-4e70-a758-797a8528c701" alt="" uk-cover>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>


<router-outlet></router-outlet>
