<h3 mat-dialog-title>
    Detail Product
</h3>
<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nama</mat-label>
        <input matInput [(ngModel)]=data.name>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill" style="width: 100%;"> -->
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="data.category">
                <mat-option value="tshirt">T-Shirt</mat-option>
                <mat-option value="pants">Pants</mat-option>
                <mat-option value="hoodie">Hoddie</mat-option>
            </mat-select>
        </mat-form-field>
    <!-- </mat-form-field> -->

    <!-- <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="data.size">
          <mat-option value="S">S</mat-option>
          <mat-option value="M">M</mat-option>
          <mat-option value="L">L</mat-option>
          <mat-option value="XL">XL</mat-option>
        </mat-select>
      </mat-form-field> -->
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]=data.desc></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Harga</mat-label>
        <input type="number" matInput [(ngModel)]=data.price>
    </mat-form-field>
</div>
<div mat-dialog-action align="end">
    <button mat-button mat-dialog-close>Batal</button>
    <button mat-flat-button (click)="save()">Simpan</button>
</div>
