<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="uk-margin-top">

        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <h3 class="uk-card-title">Jumlah Produk</h3>
                    <h1>{{ products.length }}</h1>
                </div>
            </div>
            
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
                    <h3 class="uk-card-title">Jumlah Users</h3>
                    <h1>10</h1>
                </div>
            </div>
        </div>
        
    </mat-card-content>
   

  </mat-card>

